/* ========================================
   SEARCHCAT
======================================== */

.library-content {
  width: 100%;
}

.search-box {
  position: relative;
}

.search-box input {
  appearance: none;
}


/* ========================================
   ACCESSIBILITY
======================================== */

.categories button:focus-visible,
.view-research-btn:focus-visible,
.research-title:focus-visible {
  outline: 2px solid #0b4ea2;
  outline-offset: 2px;
}